AareonTechnicalTest/.vs
AareonTechnicalTest/AareonTechnicalTest/bin
AareonTechnicalTest/AareonTechnicalTest/obj
AareonTechnicalTest/AareonTechnicalTest/AareonTechnicalTest.csproj.user
AareonTechnicalTest/.idea
src/.idea
src/.vs
src/AareonTechnicalTest/bin
src/AareonTechnicalTest/obj
*.user
src/packages
src/AareonTechnicalTest.Tests/obj
src/AareonTechnicalTest.Tests/bin
